@using System.Globalization;
@using CV.Presentation.Helpers;
@{ var resMng = CV.Presentation.Resources.Shared.Shared.ResourceManager; }
<!DOCTYPE html>
<html ng-controller="AppCtrl" ng-init="resources = @ResourcesHelper.ToJSON(resMng)">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title ng-bind="title" ng-init="title='@ViewBag.Title'"></title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    @RenderSection("styles", required: false)

    <script>
        document.culture = '@CultureInfo.CurrentCulture.Name';
    </script>
    <script data-main="/Scripts/main" src="~/Scripts/libs/requireJS/require.js"></script>
</head>
<body>
    @*Html.Action("MenuPublico", "App")*@
    <div ui-view="menu"></div>
    <div class="container body-content">
        @RenderBody()        
        <hr />
        <footer>            
            <p>&copy; @DateTime.Now.Year - <span ng-bind="$root.Footer"></span></p>
        </footer>
    </div>

    @RenderSection("scripts", required: false)
</body>
</html>
