@using CV.Models
@model RegisterBindingModel

@using (Html.BeginForm("Login", "AccountWeb"))
{
    @Html.AntiForgeryToken()
    
    <br />

    <div class="row">
        @Html.LabelFor(m => m.Email, new { @class = "col-xs-2" })
        @Html.TextBoxFor(m => m.Email, new { @class = "col-xs-10", data_ng_model = "user.Email" })
    </div>
    <div class="row">
        @Html.LabelFor(m => m.Password, new { @class = "col-xs-2" })
        @Html.PasswordFor(m => m.Password, new { @class = "col-xs-10", data_ng_model = "user.Password" })
    </div>
    <div class="row">
        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-xs-2" })
        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "col-xs-10", data_ng_model = "user.ConfirmPassword" })
    </div>
    <div class="row">
        <input type="button" value="Registrar" ng-click="createAccount();" />
    </div>
    <div class="row">
        <input type="submit" value="Login"  />
    </div>

}